@font-face {
    font-family: 'ajmd';
    src: url('fonts/iconfont.woff') format('woff'), /* chrome、firefox */
	    url('fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	    url('fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
    font-weight: normal;
    font-style: normal;
}
@import "sass/color.scss";
@import "sass/mixin.scss";
@import "sass/reset.scss";
@import "sass/border.scss";
@import "sass/widget.scss";
@import "sass/icon.scss";
@import "sass/main.scss";
@import "sass/tab.scss";

@import "sass/member_live.scss";
@import "sass/member_wallet.scss";
@import "sass/member_identity.scss";

@import "sass/help_wallet.scss";
@import "sass/help_jump.scss";

@import "sass/forum_live.scss";

@import "sass/expand_live.scss";